@font-face{
    font-family: 'BlenderPro-Bold', sans-serif;
    src: url('../fonts/BlenderPro-Bold.woff2') format('woff2'),
         url('../fonts/BlenderPro-Bold.woff') format('woff');
    font-display: swap;
}
@font-face{
  font-family: 'BlenderPro-Medium', sans-serif;
  src: url('../fonts/BlenderPro-Medium.woff2') format('woff2'),
       url('../fonts/BlenderPro-Medium.woff') format('woff');
  font-display: swap;
}

