html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    @include f400;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}
p{
    font-size: 16px;
    font-weight: 600;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-size: 15px;
    color: $text;
    line-height: 24px;
    font-weight: 400;
    overflow-x: hidden;
}

