@media (max-width: 1150px) {
    .content-box__filter{
        column-count: 2;
    }
    .content-box {
        top: 53px;
        left: 80px;
    }
}


@media (max-width: 800px) {
    .content-box {
        top: 16px;
        left: 36px;
    }
    .content-component {
        padding-left: 40px;
    }
}


@media (max-width: 740px){
    .btn__wrapper{
        position: relative;
        .menu-button{
            display: block;
            cursor: pointer;
            &:hover{
                cursor: pointer;
            }
            .menu-button__strip{
                width: 27px;
                height: 4px;
                background-color: aqua;
                margin-top: 5px;
                &:first-child{
                    margin-top: 0px;
                }
            }
        }
    }
    .content-component {
        padding-left: 10px;
        padding-bottom: 90px;
        margin-bottom: 42px;
    }
    .content-box {
        top: 16px;
        left: 182px;
    }
    .sidebar-component{
        display: none;
    }
    .content-component__wrapper{
        padding-left: 45px;
    }
    .sidebar-item .brand-list::after {
        left: 35px;
    }
    .sidebar-item .brand-list.active::after {
        left: 35px;
    }
    .sidebar-item {
        max-width: 214px;
    }
    .sidebar-component {
        max-width: 230px;
    }
    .container-email {
        margin-top: 44px;
    }
}



@media (max-width: 660px) {
    .content-box__filter {
        column-count: 1;
    }
    .content-component__wrapper{
        padding-left: 5px;
        padding-right: 5px;
    }
    // .sidebar-item {
    //     max-width: 150px;
    // }
    // .sidebar-component {
    //     max-width: 170px;
    // }
    // .sidebar-item .brand-list::after {
    //     left: -4px;
    // }
    // .sidebar-item .brand-list.active::after {
    //     left: -4px;
    // }
    .container-checkbox {
        padding-left: 27px;
    }
    .container-email {
        margin-top: 44px;
    }
}


@media (max-width: 440px) {
    // .sidebar-item .brand-list::after {
    //     font-size: 14px;
    // }
    // .sidebar-item .brand-list.active::after {
    //     font-size: 14px;
    // }
    // .sidebar-component {
    //     max-width: 105px;
    //     min-width: 105px; 
    // }
    .toolbar-component {
        height: 48px;
    }
    .toolbar-logo a .logo {
        font-size: 20px;
    }
    .toolbar-logo a .img_logo {
        width: 45px;
        height: 41px;
    }
    .content-component {
        padding-top: 1px;
        padding-bottom: 20px;
        .container-email {
            margin-top: 35px;
        }
    }
    p {
        font-size: 14px;
    }
    .container-checkbox {
        font-size: 14px;
    }
    // .sidebar-item .brand {
    //     padding-left: 7px;
    //     font-size: 14px;
    // }
    // .sidebar-item .brand-product {
    //     font-size: 13px;
    //     line-height: 16px;
    //     padding-left: 7px;
    // }
    .container-email{
        #result{
            font-size: 14px;
        }
        #resultKeyWords,
        #resultCheckBox{
            font-size: 14px;
            &::before{
                font-size: 14px;
            }
        }
        .changed{
            &::before{
                font-size: 14px;
            }
        }
    }
    // .sidebar-item .brand-product ul li.active__li{
    //     font-weight: 600;
    // }
    // .sidebar-item .brand-product ul li.active__li::after {
    //     display: none;
    // }
    // .sidebar-item .brand-product ul li.active__li::after {
    //     font-size: 12px;
    //     left: 4px;
    // }
    .checkmark {
        height: 17px;
        width: 17px;
    }
    .container-checkbox {
        padding-left: 27px;
    }
    .container-checkbox .checkmark:after {
        left: 6px;
        top: 3px;
    }
    #loader.active {
        border: 4px solid  $neon; /* Light grey */
        border-top: 4px solid $yellow; /* Blue */
        width: 33px;
        height: 33px;
    }
    .container-email .btn {
        padding: 6px 6px;
        font-size: 16px;
    }


}
@media (max-width: 365px){
    input[type="email"]::placeholder{
        font-size: 14px;
    }
    input[type="email"]{
        font-size: 12px;
    }
    .sidebar-component {
        padding-left: 1px;
    }
    .sidebar-item .brand-product ul li.active__li{
        font-weight: 600;
    }
    // .sidebar-item .brand-product ul li.active__li::after {
    //     left: 2px;
    //     font-size: 12px;
    //     display: none;
    // }
    .btn__wrapper .menu-button .menu-button__strip {
        width: 23px;
        height: 3px;
    }
    .container-email .form__field {
        max-width: 170px;
    }
    .overlay {
        height: 125vh;
    }

}
@media (max-width: 340px){
    .overlay {
        height: 175vh;
    }
    input[type="email"]::placeholder{
        font-size: 14px;
    }
    input[type="email"]{
        font-size: 12px;
    }
    // .sidebar-item .brand-product {
    //     font-size: 12px;
    //     line-height: 16px;
    //     padding-left: 5px;
    // }
    // .sidebar-item .brand-list::after {
    //     font-size: 13px;
    // }
    // .sidebar-item .brand-list.active::after {
    //     font-size: 13px;
    // }
    // .sidebar-component {
    //     max-width: 105px;
    //     min-width: 105px; 
    // }
    .toolbar-component {
        height: 48px;
    }
    .toolbar-logo a .logo {
        font-size: 20px;
    }
    .toolbar-logo a .img_logo {
        width: 45px;
        height: 41px;
    }
    .content-component {
        padding-top: 1px;
        padding-bottom: 20px;
        .container-email {
            margin-top: 35px;
        }
    }
    p {
        font-size: 14px;
        width: 200px;
    }
    .container-checkbox {
        font-size: 14px;
    }
    // .sidebar-item .brand {
    //     padding-left: 3px;
    //     font-size: 13px;
    // }
    .container-email{
        #result{
            font-size: 14px;
        }
        #resultKeyWords,
        #resultCheckBox{
            font-size: 14px;
            &::before{
                font-size: 14px;
            }
        }
        .changed{
            &::before{
                font-size: 14px;
            }
        }
    }
    // .sidebar-item .brand-product ul li.active__li{
    //     font-weight: 600;
    // }
    // .sidebar-item .brand-product ul li.active__li::after {
    //     left: 2px;
    //     font-size: 12px;
    //     display: none;
    // }
    .checkmark {
        height: 17px;
        width: 17px;
    }
    .container-checkbox {
        padding-left: 27px;
    }
    .container-checkbox .checkmark:after {
        left: 6px;
        top: 3px;
    }
    #loader.active {
        border: 4px solid  $neon; /* Light grey */
        border-top: 4px solid $yellow; /* Blue */
        width: 33px;
        height: 33px;
    }
    .container-email .btn {
        padding: 6px 6px;
        font-size: 16px;
    }
    .container-email .form__field {
        max-width: 170px;
    }
}
