$grey: #f2f2f2;
$neon: #00f0ff;
$background: #f5f6fa;
$text: #434854;
$secondary: #2ca2fd;
$green: #42c28c;

@mixin f500{
    font-family: 'BlenderPro-Bold', sans-serif;
    font-weight: 500;
}
@mixin f700{
    font-family: 'BlenderPro-Bold', sans-serif;
    font-weight: 700;
}