@import 'vars';
@import 'global';
@import 'fonts';
//start header
.toolbar-component{
    width: 100%;
    z-index: 2;
    background-color: #fafafb;
    height: 60px;
    // border-top: 3px solid $secondary;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 100;
    padding: 0 15px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}
.toolbar-section__left{
    display: flex;
    align-items: center;
    .home-buton{
        display: none;
    }
}
.menu-button{
    display: none;
    .menu-button__strip{
        background-color: aqua;
        padding-top: 3px;
        &:first-child{
            padding-top: 0;
        }
    }
}
.toolbar-logo a{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $text;
    letter-spacing: 3px;
    img{
        background-position: center center;
        background-size: cover;
        width: 60px;
        height: 60px;
    }
    .img_logo{
        width: 49px;
        height: 50px;
    }
    .logo{
        font-size: 24px;
    }
}
.toolbar-logo a span{
    opacity: 0.7;
    font-weight: 700;
}
.toolbar-section__right{
    display: flex;
    .link__vk{
        &::after{
            font-family: 'icomoon';
            position: relative;
            content: "\f189";
            font-size: 25px;
            color: $text;
        }
        &:hover{
            color: #fff;
        }
    }
}
//content
.container-component{
    display: flex;
}
//затемнение
.overlay {
    background-color: rgba(0,0,0,0.7); 
    height: 150%;
    position: absolute;
    width: 100%;
    z-index: 5;
}
.overlay-body{
    position: fixed;
    width: 100%;
}

.sidebar-component{
    max-width: 320px;
    padding-left: 5px;
    width: 100%;
    margin-top: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    opacity: 1;
    z-index: 5;
    &.active{
        display: block;
        position: fixed;
        top: 47px;
        background-color: #fff;
    }
}
.sidebar-item{
    margin-top: 5px;
    max-width: 280px;
    width: 100%;
    &:last-child{
        margin-bottom: 180px;
    }
    .brand-list{
        &::after{
            font-family: 'icomoon';
            content: "\f054";
            position: relative;
            font-size: 16px;
            color: $secondary;
            left: 95px;
            transition: all 0.5s;
        }
        &.active{
            background-color: #f4fbfb;
            color: $text;
            &::after{
                font-family: 'icomoon';
                content: "\f078";
                position: relative;
                font-size: 16px;
                color: $secondary;
                left: 95px;
                transition: all 0.5s;
            }
            &:hover{
                background-color: #f4fbfb;
            }
        }
    }
    .brand{
        padding-left: 5px;
        height: 42px;
        width: 100%;
        // font-family: 'Montserrat', sans-serif;
        font-family:courier, courier new, serif;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: .25rem;
        &:hover{
            background-color: $grey;
            transition: all 0.5s;
            color: $text;
        }
    }
    .brand__title{
        max-width: 150px;
        width: 100%;
    }
    .brand-product{
        display: none;
        // font-family: 'Montserrat', sans-serif;
        font-family:courier, courier new, serif;
        font-size: 16px;
        line-height: 20px;
        padding-left: 20px;
        ul{
            width: 100%;
        }
        ul li{
            border-radius: .25rem;
            height: 42px;
            display: flex;
            align-items: center;
            padding-left: 5px;
            margin-top: 3px;
            cursor: pointer;
            &:hover{
                background-color: $grey;
                transition: all 0.5s;
                color: #000;
            }
            &.active__li{
                background-color: #f4fbfb;
                color: #000;
                &::after{
                    position: relative;
                    font-family: 'icomoon';
                    content: "\f00c";
                    font-size: 16px;
                    color: $green;
                    left: 18px;
                }
            }
        }
    }
}
.content{
    display: flex;
    width: 100%;
}
.content-component{
    width: 100%;
    padding-left: 100px;
    padding-top: 25px;
    padding-right: 50px;
}

.container-checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 0.25rem;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    background-color: $secondary;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .icon-group{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
.content-box__filter{
    column-count: 3;
}
.wrapper-label{
    display: flex;
    .group-link{
        padding-bottom: 2px;
        margin-left: 10px;
        line-height: 0;
    }
}


//mail 
.container-email{
    form{
        display: block;
    }
    .btn-wrapp{
        display: flex;
    }
    .btn{
        border: none;
        background-color: #fc5454;
        cursor: pointer;
        color: #fff;
        border-radius: 0.25rem;
        padding: 8px 9px;
        font-size: 18px;
        outline: none;
        &::after{
            font-family: 'icomoon';
            position: relative;
            content: "\f003";
            font-size: 18px;
            padding-left: 5px;
        }
        &[disabled] {
            background-color: #d1cfcf;
            cursor:not-allowed
        }
    }
    .form__field{
        padding: 8px 9px;
        outline: none;
        border-radius: 4px;
        border: 1px #a0ccee solid;
        margin-right: 20px;
    }
    input[type=email]:focus {
        border: 1px #2ca2fd solid
      }
    #result{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #resultKeyWords,
    #resultCheckBox{
        color: #fc5454;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: none;
        &.active{
            display: block;
        }
        &::before{
            padding-right: 10px;
            font-family: 'icomoon';
            position: relative;
            content: "\f06a";
            font-size: 21px;
        }
    }
    .changed{
        &::before{
            padding-right: 10px;
            font-family: 'icomoon';
            position: relative;
            content: "\f06a";
            font-size: 21px;
        }
    }
}
.container-email{
    margin-top: 60px;
}
.description{
    margin-bottom: 20px;
}

//loader
#loader.active {
    border: 6px solid  $neon; /* Light grey */
    border-top: 6px solid $yellow; /* Blue */
    border-radius: 50%;
    width: 39px;
    height: 39px;
    margin-left: 10px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.adv-slider{
    max-width: 250px;
    width: 100%;
    background-color: transparent;
}
.slider{
    padding: 10px 20px;
    .slider-inner{
        outline: none;
    }
}
.link-advertise{
    outline: none;
    img{
        max-width: 180px;
        max-height: 180px;
        min-width: 100px;
        min-height: 100px;
        object-fit: contain;        
    }
    .content-wrapp{
        display: flex;
        justify-content: space-between;
        width: 170px;
        &__title{
            margin-right: 10px
        }
        &__price{
            font-weight: 600
        }
    }
    .description-wrapp{
        font-size: 13px;
    }
}

@import 'media'; 


  