@import 'vars';
@import 'global';
@import 'fonts';
//start header
.toolbar-component{
    width: 100%;
    z-index: 2;
    background-color: #fafafb;
    height: 60px;
    // border-top: 3px solid $secondary;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 100;
    padding: 0 15px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}
.toolbar-section_left{
    display: flex;
    .menu-button{
        display: none;
    }
    .home-buton{
        display: none;
    }
}
.toolbar-logo a{
    margin-top: 6px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Geo', sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444, 6px 6px 0 #444, 5px 5px 15px #999;
    color: #f000ff;
    // text-transform: uppercase;
}
.toolbar-logo a span{
    opacity: 0.5;
    font-size: 36px;
    font-weight: 700;
}
.toolbar-section_right{
    display: flex;
}
//content
.container-component{
    display: flex;
}
.sidebar-component{
    max-width: 320px;
    width: 100%;
    margin-top: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    top: 0;
}
.sidebar-item{
    margin-top: 5px;
    max-width: 280px;
    width: 100%;
    .brand-list{
        &::after{
            font-family: 'icomoon';
            content: "\f054";
            position: relative;
            font-size: 16px;
            color: $secondary;
            left: 95px;
            transition: all 0.5s;
        }
        &.active{
            background-color: #f4fbfb;
            color: $text;
            &::after{
                font-family: 'icomoon';
                content: "\f078";
                position: relative;
                font-size: 16px;
                color: $secondary;
                left: 95px;
                transition: all 0.5s;
            }
            &:hover{
                background-color: #f4fbfb;
            }
        }
    }

    .brand{
        padding-left: 5px;
        height: 42px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: .25rem;
        &:hover{
            background-color: $grey;
            transition: all 0.5s;
            color: $text;
        }

    }
    .brand__title{
        max-width: 150px;
        width: 100%;
    }

    .brand-product{
        display: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 20px;
        padding-left: 20px;
        ul{
            width: 100%;
        }
        ul li{
            border-radius: .25rem;
            height: 42px;
            display: flex;
            align-items: center;
            padding-left: 5px;
            margin-top: 3px;
            cursor: pointer;
            &:hover{
                background-color: $grey;
                transition: all 0.5s;
                color: #000;
            }
            &.active__li{
                background-color: #f4fbfb;
                color: $text;
                &::after{
                    position: relative;
                    font-family: 'icomoon';
                    content: "\f00c";
                    font-size: 16px;
                    color: $green;
                    left: 18px;
                    
                }
            }

        }

    }

}

.content-box{
    position: relative;
    top: 100px;
    left: 200px;
}
.content-component__wrapper{
    position: absolute;
}
//checkboks
.container-checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    background-color: $secondary;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.content-box__filter{
    column-count: 3;
}
//mail 
.container-email{
    .btn{
        border: none;
        background-color: #fc5454;
        cursor: pointer;
        color: #fff;
        border-radius: 0.25rem;
        padding: 8px 9px;
        position: absolute;
        &::after{
            font-family: 'icomoon';
            position: relative;
            content: "\f003";
            font-size: 16px;
            padding-left: 5px;
        }
    }
    .form__field{
        padding: 8px 9px;
        outline: none;
        // border-radius: 0.25rem;
        border-radius: 4px;
        border: 1px #a0ccee solid;
        margin-right: 20px;
    }
    input[type=email]:focus {
        border: 1px #2ca2fd solid
      }
}

.container-email{
    margin-top: 60px;
}
.description{
    margin-bottom: 20px;
}



@import 'media'; 


  